<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<!-- questionnaire -->
{{diagnostic}}
<div class="container">
    <form [formGroup]="myform" (ngSubmit)="onSubmit()">
      <div class="form-group col-md-12">
        <label for="Answer_1">{{questionnaireList && questionnaireList[0]?.Question_1}}*</label>
        <input type="text" class="form-control" id="Answer_1" required [(ngModel)]="model.Answer_1" formControlName="Answer_1">
      </div>

      <div class="form-group col-md-12">
        <label for="Answer_2">{{questionnaireList && questionnaireList[0]?.Question_2}}*</label>
        <input type="text" class="form-control" id="Answer_2" required [(ngModel)]="model.Answer_2" formControlName="Answer_2">
        <!-- <p [hidden]="myform.controls.Age.valid && submitted">required</p> -->
      </div>

      <div class="form-group col-md-12">
        <label for="Answer_3">{{questionnaireList && questionnaireList[0]?.Question_3}}*</label>
        <input type="text" class="form-control" id="Answer_3" required [(ngModel)]="model.Answer_3" formControlName="Answer_3">
      </div>

      <div class="form-group col-md-6">
        <label for="Answer_4">{{questionnaireList && questionnaireList[0]?.Question_4}}*</label>
        <input type="text" class="form-control" id="Answer_4" required [(ngModel)]="model.Answer_4" formControlName="Answer_4">
      </div>

      <div class="form-group col-md-6">
        <label for="Answer_5">{{questionnaireList && questionnaireList[0]?.Question_5}}*</label>
        <input type="text" class="form-control" id="Answer_5" required [(ngModel)]="model.Answer_5" formControlName="Answer_5">
      </div>

      <div class="form-group col-md-4">
        <label for="Answer_6">{{questionnaireList && questionnaireList[0]?.Question_6}}*</label>
        <select class="form-control" id="level" required  [(ngModel)]="model.Answer_6" formControlName="Answer_6">
          <option *ngFor="let level of levels" [value]="level">{{level}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="Answer_7">{{questionnaireList && questionnaireList[0]?.Question_7}}*</label>
        <select class="form-control" id="level" required [(ngModel)]="model.Answer_7" formControlName="Answer_7">
          <option *ngFor="let level of levels" [value]="level">{{level}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="Answer_8">{{questionnaireList && questionnaireList[0]?.Question_8}}*</label>
        <select class="form-control" id="level" required [(ngModel)]="model.Answer_8" formControlName="Answer_8">
          <option *ngFor="let level of levels" [value]="level">{{level}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="Answer_9">{{questionnaireList && questionnaireList[0]?.Question_9}}*</label>
        <select class="form-control" id="level" required [(ngModel)]="model.Answer_9" formControlName="Answer_9">
          <option *ngFor="let level of levels" [value]="level">{{level}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="Answer_10">{{questionnaireList && questionnaireList[0]?.Question_10}}*</label>
        <select class="form-control" id="level" required [(ngModel)]="model.Answer_10" formControlName="Answer_10">
          <option *ngFor="let level of levels" [value]="level">{{level}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="Answer_11">{{questionnaireList && questionnaireList[0]?.Question_11}}*</label>
        <input type="text" class="form-control" id="Answer_11" required [(ngModel)]="model.Answer_11" formControlName="Answer_11">
      </div>

      <div class="form-group col-md-12">
        <label for="Answer_12">{{questionnaireList && questionnaireList[0]?.Question_12}}* </label>
        <input type="text" class="form-control" id="Answer_12" required [(ngModel)]="model.Answer_12" formControlName="Answer_12">
        <br>
        <button type="submit" class="btn btn-success" [disabled]="!myform.valid">Submit</button>
      </div>

    </form>
</div>
<!-- end questionnaire -->
